In [3]:
#creating connection
import mysql.connector
mydb = mysql.connector.connect(host="localhost",
                               user="root",
                               password="vansh.hp",
                               database="database_from_python"
                              )
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000188E3C8F340>

In [ ]:
#database creation
cur=mydb.cursor()
cur.execute("create database database_from_python")

In [ ]:
#table creation
cur=mydb.cursor()
#table = "create table books(book_id int,title varchar(30),price float)"
cur.execute("create table books(book_id int,title varchar(30),price float)")

In [ ]:
#drop table
cur.execute("drop table books")

In [12]:
#insert data
cur=mydb.cursor()
a = "insert into books values(%s,%s,%s)"
b1=(1,'economics',350)
cur.execute(a,b1)
mydb.commit()

In [8]:
#multiple record insertion
cur=mydb.cursor()
a = "insert into books values (%s,%s,%s)"
books=[(2,'python',300),(3,'power bi',290),(4,'excel',150)]
cur.executemany(a,books)
mydb.commit()

In [11]:
#delete record
cur=mydb.cursor()
cur.execute("delete from books where book_id = 1")
mydb.commit()

In [4]:
cur=mydb.cursor()
cur.execute("select * from books")
mydb.commit()

InternalError: Unread result found