In [8]:
#import libraries
import pandas as pd
import sqlite3

In [3]:
#install the ipython-sql library
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dell\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [9]:
# create a dataframe to import data 

df=pd.DataFrame({'name':['priya', 'arzoo', 'mary'],
                'age':[23,25,29],
                'city': ['Ahmedabad','Gandhinagar','Surat']})

df

    name  age         city
0  priya   23    Ahmedabad
1  arzoo   25  Gandhinagar
2   mary   29        Surat

In [5]:
#we will sqlite3 library and now we can create a connection
cnn = sqlite3.connect('jupyter_sql_lecture.db')

In [6]:
#now we can give name of the table that we created priviously and stablish a connection with cnn which is act as varuiable here
df.to_sql('student', cnn)

3

In [7]:
#load the sql module to ipython-magic function
%load_ext sql

In [9]:
%sql sqlite:///jupyter_sql_lecture.db

In [10]:
%%sql

SELECT *
FROM student

 * sqlite:///jupyter_sql_lecture.db
Done.

[(0, 'priya', 23, 'Ahmedabad'),
 (1, 'arzoo', 25, 'Gandhinagar'),
 (2, 'mary', 29, 'Surat')]

In [11]:
#THE END