In [ ]:
pip install sqlalchemy mysql-connector-python
from sqlalchemy import create_engine
mydb = create_engine('mysql+mysqlconnector://root:root(password)@localhost:3306/table_name')
#DATABASE_URI='mysql+mysqlconnector://{user}:{password}@{server}/{database}'.format {user='your_user', password='password', server='localhost', database='db_name'}

In [ ]:

import pandas as pd
from sqlalchemy import create_engine

# connection build
mydb = create_engine('mysql://root:root@localhost:3306/testing')

# sql query
query = 'SELECT * FROM students WHERE 10 =< roll_no <= 20'

# convert sql query to dataframe
df = pd.read_sql(query, mydb)

# print dataframe
print(df)

In [ ]:
#Example convert sql to dataframe

import pandas as pd
from sqlalchemy import create_engine

# connection build
mydb = create_engine('mysql://root:root@localhost:3306/testing')

# sql query
query = 'SELECT * FROM students WHERE roll_no >= 10 AND roll_no <= 20'

# convert sql query to dataframe
df = pd.read_sql(query, mydb)

# print dataframe
print(df)

In [ ]:

#using head method- DataFrame head() method takes a number that represents a number of records that should be returned.
import pandas as pd
from sqlalchemy import create_engine

# connection build
mydb = create_engine('mysql://root:root@localhost:3306/testing')

# sql query
query = 'SELECT * FROM students'

# convert sql query to dataframe
df = pd.read_sql(query, mydb)

# print only rows
print(df.head(5))

In [ ]:
#Using chunksize Parameter
#The read_sql() method chunksize parameter is also capable of returning a specific number of records that takes an integer value.

import pandas as pd
from sqlalchemy import create_engine

dataframes = []

# connection build
mydb = create_engine('mysql://root:root@localhost:3306/testing')

# sql query
query = 'SELECT * FROM students'

# convert sql query to dataframe
chunks = pd.read_sql(query, mydb, chunksize=5)

for chunk in chunks:
    dataframes.append(chunk)

df = pd.concat(dataframes)

print(df)