In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dell\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [ ]:
%load_ext sql

There's a new jupysql version available (0.9.0), you're running 0.8.0. To upgrade: pip install jupysql --upgrade

In [ ]:
pip install jupysql --upgrade

Requirement already satisfied: jupysql in c:\users\dell\anaconda3\lib\site-packages (0.8.0)
Collecting jupysql
  Downloading jupysql-0.9.0-py3-none-any.whl (78 kB)
                                              0.0/78.9 kB ? eta -:--:--
     -----                                    10.2/78.9 kB ? eta -:--:--
     --------------                         30.7/78.9 kB 435.7 kB/s eta 0:00:01
     --------------                         30.7/78.9 kB 435.7 kB/s eta 0:00:01
     -------------------                    41.0/78.9 kB 195.7 kB/s eta 0:00:01
     ----------------------------------     71.7/78.9 kB 280.5 kB/s eta 0:00:01
     -------------------------------------- 78.9/78.9 kB 292.2 kB/s eta 0:00:00
Requirement already satisfied: prettytable in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (3.8.0)
Requirement already satisfied: ipython in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (8.12.0)
Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (17.8.6)
Requirement already satisfied: jinja2 in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\dell\anaconda3\lib\site-packages (from jupysql) (0.2.13)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (8.0.4)
Requirement already satisfied: pyyaml in c:\users\dell\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Requirement already satisfied: posthog in c:\users\dell\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.1)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (5.7.1)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython->jupysql) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (2.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.29.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\dell\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\dell\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->jupysql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->jupysql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->jupysql) (0.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.5.7)
Installing collected packages: jupysql
  Attempting uninstall: jupysql
    Found existing installation: jupysql 0.8.0
    Uninstalling jupysql-0.8.0:
      Successfully uninstalled jupysql-0.8.0
Successfully installed jupysql-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
 %load_ext sql

%sql sqlite://

In [ ]:
%%sql
CREATE TABLE employees (
    id int,
    emp_name varchar(100),
    salary int,
    dept_id int,
    manager_id int
);

INSERT INTO employees 
VALUES (1, 'Idris', 1000, 1, 1), (2, 'Aweda', 2000, 2, 2), (3, 'Zubair', 3000, 3, 2), (4, 'Young', 4000, 3, 3), (5, 'Babu', 5000, 1, 3), (6, 'John', 1000, 8, 1);

CREATE TABLE departments (
    id int,
    dept_name varchar(100)
);

INSERT INTO departments
VALUES (1, 'Engineering'), (2, 'Product'), (3, 'Marketing'), (4, 'Support');

CREATE TABLE managers (
    id int,
    manager_name varchar(100),
    dept_id int
);

INSERT INTO managers
VALUES (1, 'Doe', 1), (2, 'Jane', 2), (3, 'May', 4);

CREATE TABLE projects (
    id int,
    project_name varchar(100),
    emp_id int
);

INSERT INTO projects
VALUES (1, 'Fintech App', 1), (1, 'Fintech App', 5), (1, 'Fintech App', 6), (2, 'Cooking Website', 1), (2, 'Cooking Website', 2);

Running query in 'sqlite://'

6 rows affected.

4 rows affected.

3 rows affected.

5 rows affected.

++
||
++
++

In [ ]:
 %sql SELECT * from projects;

Running query in 'sqlite://'

+----+-----------------+--------+
| id |   project_name  | emp_id |
+----+-----------------+--------+
| 1  |   Fintech App   |   1    |
| 1  |   Fintech App   |   5    |
| 1  |   Fintech App   |   6    |
| 2  | Cooking Website |   1    |
| 2  | Cooking Website |   2    |
+----+-----------------+--------+

In [ ]:
   %sql SELECT * from managers;

Running query in 'sqlite://'

+----+--------------+---------+
| id | manager_name | dept_id |
+----+--------------+---------+
| 1  |     Doe      |    1    |
| 2  |     Jane     |    2    |
| 3  |     May      |    4    |
+----+--------------+---------+

In [ ]:
%sql SELECT * from employees;

Running query in 'sqlite://'

+----+----------+--------+---------+------------+
| id | emp_name | salary | dept_id | manager_id |
+----+----------+--------+---------+------------+
| 1  |  Idris   |  1000  |    1    |     1      |
| 2  |  Aweda   |  2000  |    2    |     2      |
| 3  |  Zubair  |  3000  |    3    |     2      |
| 4  |  Young   |  4000  |    3    |     3      |
| 5  |   Babu   |  5000  |    1    |     3      |
| 6  |   John   |  1000  |    8    |     1      |
+----+----------+--------+---------+------------+

In [ ]:
%sql SELECT * from departments;

Running query in 'sqlite://'

+----+-------------+
| id |  dept_name  |
+----+-------------+
| 1  | Engineering |
| 2  |   Product   |
| 3  |  Marketing  |
| 4  |   Support   |
+----+-------------+