In [1]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [3]:
%%sql sqlite://
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
%sql SELECT * FROM languages

Running query in 'sqlite://'

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
|  Java  | 11.59  |  0.4   |
|  C++   |  10.0  |  1.98  |
+--------+--------+--------+

In [5]:
result = %sql SELECT * FROM languages WHERE rating > 10

Running query in 'sqlite://'

In [6]:
%pip install pandas seaborn pip install memory-profiler --quiet

Note: you may need to restart the kernel to use updated packages.

In [7]:
import seaborn as sb

df = sb.load_dataset('tips')
conn = "sqlite:///example"
df.to_sql(
            'tips',            
            conn,                
            if_exists='replace'
           )
df

244